body {
  margin: 0;
  min-height: 120px; }

.jumbotron {
  margin-bottom: 0;
  background-color: none !important; }

.nav_logo {
  font-family: 'Montserrat Alternates', sans-serif; }

.hero_intro_img {
  background-size: cover;
  background-color: #ffffff;
  height: 96vh;
  width: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  text-align: center; }
  .hero_intro_img .hello_hero_bottom {
    justify-content: center;
    flex-direction: flex-end;
    align-items: baseline; }
  .hero_intro_img .hello_hero_text {
    font-size: 20rem;
    align-items: center;
    color: limegreen;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif; }
    @media (min-width: 370px) {
      .hero_intro_img .hello_hero_text {
        font-size: 4rem; } }
    @media (min-width: 376px) {
      .hero_intro_img .hello_hero_text {
        font-size: 6rem; } }
    @media (min-width: 476px) {
      .hero_intro_img .hello_hero_text {
        font-size: 8rem; } }
    @media (min-width: 768px) {
      .hero_intro_img .hello_hero_text {
        font-size: 10rem; } }
    @media (min-width: 992px) {
      .hero_intro_img .hello_hero_text {
        font-size: 14rem; } }
    @media (min-width: 1200px) {
      .hero_intro_img .hello_hero_text {
        font-size: 20rem; } }

.main_hero_intro_img {
  background-image: url("../img/mobile_small_custom.png");
  background-size: cover;
  height: 40rem;
  width: auto;
  background-color: none; }

.folio_label {
  opacity: 1;
  transition: 0.4s; }

.folio_label:hover {
  opacity: 0.8;
  transition: 0.4s; }

.motion_hero_intro_img {
  background-image: url("../img/camera_close_up.jpg");
  background-size: cover;
  height: 35rem;
  width: auto; }

.world_hero_intro_img {
  background-image: url("../img/bank_iphone_sign_up.jpg");
  background-size: cover;
  height: 35rem;
  width: auto; }

.fis_port_img {
  background-image: url("../img/fis_close_global_search.jpg");
  background-size: cover;
  height: 35rem;
  width: 100%;
  margin-bottom: auto; }

.provider_img {
  background-image: url("../img/Providers-flat.png");
  background-size: cover;
  height: 35rem;
  width: 100%;
  margin-bottom: auto; }

.run_img {
  background-image: url("../img/run-through-poster.png");
  background-size: cover;
  height: 35rem;
  width: 100%;
  margin-bottom: auto; }

.mwe_img {
  background-image: url("../img/MWE-FL-BLUE-Perspective-3.jpg");
  background-size: cover;
  height: 35rem;
  width: 100%;
  margin-bottom: auto; }

.art_img {
  background-image: url("../img/Allison.jpg");
  background-size: cover;
  height: 35rem;
  width: 100%;
  margin-bottom: auto; }

.photo_img {
  background-image: url("../img/BEACH-FAMILY005.jpg");
  background-size: cover;
  height: 35rem;
  width: 100%;
  margin-bottom: auto; }

.portfolio_frame {
  height: 35rem;
  width: 100%; }

.portfolio_frame_secondary {
  height: 35rem;
  width: 100%; }

.large_sep {
  margin-top: 8rem; }

.large_sep_bottom {
  margin-bottom: 8rem; }

.small_sep {
  margin-top: 3rem; }

.small_sep_bottom {
  margin-bottom: 3rem; }

/*# sourceMappingURL=main_style.css.map */
