@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import 'black_green';


.nav_section_space_top {

    margin-top: 4rem;

}

.nav_section_space_bottom {

    margin-bottom: 4rem;

}

.nav_text_style {

    font-size: 1.2rem;
}

.nav_naked {

    border: none;
}

.nav_header_color {

    background-color: rgba(50,205,50 ,0.9 )
}

.off_nav_layer {

    z-index: 9000000000000000;
}

#rabbit {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
      }


    //   Footer 

    .footer_space_bottom {

        margin-bottom: 8rem;
    
    }

    .footer_space_bottom {

        margin-bottom: 8rem;
    
    }
    