@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import 'black_green';


.nav_section_space_top {

    margin-top: 4rem;

}

.nav_section_space_bottom {

    margin-bottom: 4rem;

}

.nav_text_style {

    font-size: 1.2rem;
}

.nav_naked {

    border: none;
}

.logo_placement {

    top: 4px;
    left: 10px;
}