@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import 'black_green';

.nav_section_space_top {

    margin-top: 4rem;

}

.nav_section_space_bottom {

    margin-bottom: 4rem;

}

.nav_text_style {

    font-size: 1.2rem;
}

.nav_naked {

    border: none;
}

.nav_header_color {

    background-color: rgba(253, 253, 253, 0.849);
    color: limegreen;
    
    .navbar-brand {

        color: limegreen;
    }
    .nav_logo a {

        color: limegreen;
    }
}

.off_nav_layer {

    z-index: 9000000000000000;
}

#rabbit {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.7s;
      }


    //   Footer 

    .footer_space_top {

        padding-top: 8rem;
    
    }

    .footer_space_padding {

        padding-bottom: 4.2rem;
    
    }

    .footer_container_box {

        height: inherit;
        // background-color:rgba(50,205,50,0.9);
    }

    // .footer_space_top {

    //     margin-bottom: 8rem;
    
    // }
    
